@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #ECE8E2;
}

/*///////////////////// Note style */

.note{
    background-color: #66c2b347;
    margin: 10px;
    padding: 10px;
    min-height: 250px;
    min-width: 250px;
    border: 1.5px solid #56b3abdd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(24, 40, 61);
    justify-content: space-between;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notes-list {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.note.add{
    background-color: #69492159;
    border: 1.5px solid #937a60;
    color: #794f20;
}
textarea{
    border: none;
    background-color: transparent;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: inherit;
    color: inherit;
    outline: none;
}
/*/////////////////////////////////////////////////////////////////*/

.container{
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto ;
}


.delete-icon{
    color: rgb(170, 19, 49);
    cursor: pointer;
}

/* Buttons ///////////////////////////////////////////////////////*/
.save , .modeSwitch{
    background-color: #835826d0;
    border: none;
    border-radius: 25px;
    padding: 5px 10px;
    color: #d8d3ced0;
    font-size: medium;
    font-weight: 550;
    cursor: pointer;
}
.save:hover , .modeSwitch:hover{
    background-color: #835826;
}

/*///////////////////////////////////////////////////////////////*/

/*///////////////////// Search */
.search{
    background-color: #ECE8E2;
    display: flex;
    margin: 10px;
    padding: 10px;
    height: 25px;
    gap: 5px;
    border: solid 1.8px #a18b73;
    border-radius: 25px;
}
.search input{
    margin-left: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: medium;
    color: #794f20;
    background-color: inherit;
    width: 100%;
    height: 100%;    
}
.searchIcon {
    cursor: pointer;
    color: #794f20;
    font-size: 25px;
    margin-right: 5px;
}
.search input:focus {
    outline: none;
}
/*////////////////////////////////////////////////*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    vertical-align: middle;
}

.modeSwitch{ 
    height: 50px;
}

.heading{
    color: #956125;
    font-size: 1.6rem;
}


/*///////////////////// Dark Mode */

.dark-mode{
    background-color: #2e2e2e;
    color: #e8e5e5;
    margin: 0;
    min-height: 100vh;
}

.dark-mode .note{
    background-color: #283f43bd;
    border: 1.5px solid #64789785;
    color: #e8e5e5;
}

.dark-mode .note.add{
    background-color: #513d2982;
    border: 1.5px solid #c9bbac82;
    color: #e8e5e5;
}

.dark-mode .search{
    background-color: #2e2e2e;
    border: solid 1.5px #c9bbac;
}

